{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date.Format (default "January 2, 2006" site.Params.DateFormat)))) }}
{{- end -}}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end -}}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end -}}

{{- /* AUTHOR LINKING LOGIC */ -}}
{{- if not (.Param "hideAuthor") -}}
  {{- with .Params.authors -}}
    {{- $authors := slice -}}
    {{- range . -}}
      {{- $termPage := site.GetPage (printf "/authors/%s" (. | urlize)) -}}
      {{- if $termPage -}}
        {{- $authors = $authors | append (printf "<a href='%s'>%s</a>" $termPage.RelPermalink .) -}}
      {{- else -}}
        {{- $fallbackUrl := printf "authors/%s/" (. | urlize) | relURL -}}
        {{- $authors = $authors | append (printf "<a href='%s'>%s</a>" $fallbackUrl .) -}}
      {{- end -}}
    {{- end -}}
    {{- $scratch.Add "meta" (slice (delimit $authors ", ")) -}}
  {{- else -}}
    {{- with (default site.Author.name .Params.author) -}}
       {{- $scratch.Add "meta" (slice .) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with ($scratch.Get "meta") }}
<span>{{ delimit . "&nbsp;·&nbsp;" | safeHTML }}</span>
{{- end }}

{{- if .Params.tags -}}
  {{- $tagsList := slice -}}
  {{- range .Params.tags -}}
    {{- $tagUrl := printf "/tags/%s/" (. | urlize) | relLangURL -}}
    {{- $tagHtml := printf "<a href='%s'>%s</a>" $tagUrl . -}}
    {{- $tagsList = $tagsList | append $tagHtml -}}
  {{- end -}}
  <span style="margin-left: auto;">&nbsp;·&nbsp;{{ delimit $tagsList ", " | safeHTML }}</span>
{{- end -}}